.user-card {
  border: 1px solid purple;
  border-radius: 12px;
  height: 250px;
  width: 200px;
  text-align: center;
  overflow: hidden;
}

.user-card-image {
  width: 100%;
  height: 200px;
}

.user-card-username {
  margin: 0;
  padding-top: 8px;
}
